beautifulsoup4
Chroma==0.2.0
chromadb==0.3.21
langchain
openai
torch
transformers
sentence-transformers
datasets
faiss-cpu
tiktoken 
chromadb 
pypdf 
InstructorEmbedding
accelerate 
bitsandbytes 
sentencepiece 
